div.local-section {
  margin-top: 13vh;
  margin: 16px;
  width: 100%;
  min-height: 85vh;
  background-image: url("./../../../assets/images/background/body_background03.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

