div.local-section {
  margin-top: 12vh;
  width: 100%;
  min-height: 80vh;
  background-image: url("./../../../assets/images/background/body_background03.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}

