
#localBody {
  display:  grid;
  grid-template-areas:
  'localHeader localHeader localHeader localHeader'
  'localContent localContent localContent localContent'
  'localFooter localFooter localFooter localFooter';

  #localHeader {
    grid-area: localHeader;
    width: 100%;
    height: 15vh;
    background-color: rgb(180, 223, 223);

  }

  #localContent {
    grid-area: localContent;
    width: 100%;
    height: 80vh;
    padding: 0.5%;
    background-color: rgb(138, 168, 168);
    display: flex;
    align-items:initial ;
    justify-content: space-around;
  }

  #localFooter {
    grid-area: localFooter;
    width: 100%;
    height: 5vh;
    background: linear-gradient(68.15deg, #09031f 14.62%, #07389b 85.61%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
