body {
  display: grid;

  grid-template-areas: "localHeader" "localBody";
  width: 100%;
  height: max-content;

  #localHeader {
    grid-area: localHeader;
    width: 96%;
    height: 15vh;
    background: linear-gradient(68.15deg, #07389b 14.62%, #293244 85.61%);
    position: fixed;
    top: 4vh;
  }

  #localBody {
    grid-area: localBody;
    display: grid;
    width: 100%;
    grid-template-areas:
      "localContent localContent localContent localContent"
      "localFooter localFooter localFooter localFooter";

    #localContent {
      grid-area: localContent;
      display: flex;
      align-items: initial;
      justify-content: space-around;
      width: 100%;
      height: 95vh;
      padding: 0.5%;
      background-image: url("./../../assets/images/background/body_background03.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 2%;
      // height: max-content;
    }

    #localFooter {
      grid-area: localFooter;
      width: 100%;
      height: 5vh;
      background: linear-gradient(68.15deg, #09031f 14.62%, #07389b 85.61%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
