.local-not-found  {

  display: flex;

  width: 100%;
  height: 95vh;
  padding: 0.5%;
  // background-image: url("./../../../assets/images/background/Not-Found/not-found01NotFound.jpeg");
  background-color: aqua;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2%;


}
