

div.local-center {
  margin-top: 17vh;
  display: flex;
  justify-content: center;

  .card {
    padding: 5%;
    width: 90%;
    background: linear-gradient(68.15deg, #2f343f 14.62%, #07389b 85.61%);
    display: flex;
    align-content: center;
    align-items: center;
    color: aliceblue;

    .localUper > a {

    color: brown;
   }
    .localUper > a:hover {

    color: rgb(163, 195, 223) !important;
   }
  }
}
