.body {
  display:  grid;
  grid-template-rows: 15vh 1fr auto;
  height: 100%;
  background-image: url("./../assets/images/background/body_background01_1920.jpeg");
  background-repeat: no-repeat ;
  background-size: cover;
  background-position: center;
  padding: 2%;


  app-header {
    
  }
}
