.localHeader-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;

  .login {
    width: 70%;
  }

  .logout {
    width: 70%;
  }

  .avatar {
    width: 30%;
    display: flex;
    align-items: center;

    .ajust-avatar {
      display: flex;
      justify-content: center;

      flex-grow: 3;
    }
    .ajust-avatar-img{
      flex-grow: 1;
      justify-content: center;

    }
  }
}
ul > li > a {
  color: aliceblue;
}
ul > li > a:hover {
  color: rgb(163, 195, 223) !important;
}

/*Media querys */

/* Smartphones */
@media (max-width: 600px) {
  .login {
    width: 60%;
  }

  .logout {
    width: 60%;
  }

  .avatar {
    width: 40% !important;
  }
  // .localHeader-header > div.avatar > div.ajust-avatar-img > img{
  //   width: 60px;
  // }
  .localHeader-header > div {
    font-size: 14px !important;

  }


}

/* Tablets em modo retrato */
@media (min-width: 601px) and (max-width: 768px) {
  .login {
    width: 60%;
  }

  .logout {
    width: 60%;
  }

  .avatar {
    width: 40% !important;
  }
  // .localHeader-header > div.avatar > div.ajust-avatar-img > img{
  //   width: 60px;
  // }
  .localHeader-header > div {
    font-size: 16px !important;
  }

}

/* Tablets em modo paisagem e desktops pequenos */
@media (min-width: 769px) and (max-width: 1024px) {

  .login {
    width: 60%;
  }

  .logout {
    width: 60%;
  }

  .avatar {
    width: 40% !important;
  }
  // .localHeader-header > div.avatar > div.ajust-avatar-img > img{
  //   width: 70px !important;
  // }
  .localHeader-header > div {
    font-size: 18px !important;
  }

}

/* Desktops e telas grandes */
@media (min-width: 1025px) {
  .localHeader-header > div {
    font-size: 20px !important;
  }
}

/* Telas muito grandes */
@media (min-width: 1440px) {
  .localHeader-header > div {
    font-size: 22px !important;
  }
}
